# Enable PSRAM for ESP32-S3
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# Use SPIRAM for malloc
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=32768

# Enable more heap memory debugging
CONFIG_HEAP_POISONING_LIGHT=y

# Cat detection model config
CONFIG_CAT_DETECT_MODEL_LOCATION=0
CONFIG_FLASH_ESPDET_PICO_224_224_CAT=y

# Golf ball detection model config
CONFIG_GOLF_BALL_DETECT_MODEL_LOCATION=0
CONFIG_FLASH_GOLF_BALL_99_4_MAP=y